In [2]:
#Import libraries
import pandas as pd
import matplotlib.pyplot as plt

### Stations.csv
includes amenity information

In [ ]:

df_Stations = pd.read_csv("Stations.csv")   

#First 10 rows of the csv
df_Stations.head(10)

,UniqueId,Name,FareZones,HubNaptanCode,Wifi,OutsideStationUniqueId,BlueBadgeCarParking,BlueBadgeCarParkSpaces,TaxiRanksOutsideStation,MainBusInterchange,PierInterchange,NationalRailInterchange,AirportInterchange,EmiratesAirLineInterchange
0,HUBABW,Abbey Wood,4,HUBABW,False,HUBABW-Outside,False,NaN,False,NaN,NaN,NaN,NaN,NaN
1,910GACTNCTL,Acton Central,3,NaN,True,910GACTNCTL-Outside,False,NaN,False,NaN,NaN,NaN,NaN,NaN
2,910GACTONML,Acton Main Line,3,NaN,False,910GACTONML-Outside,False,NaN,False,NaN,NaN,NaN,NaN,NaN
3,910GANERLEY,Anerley,4,NaN,True,910GANERLEY-Outside,False,NaN,False,NaN,NaN,NaN,NaN,NaN
4,910GBCKNHMH,Beckenham Hill,4,NaN,False,910GBCKNHMH-Outside,False,NaN,False,NaN,NaN,NaN,NaN,NaN
5,910GBELNGHM,Bellingham,3,NaN,False,910GBELNGHM-Outside,False,NaN,False,NaN,NaN,NaN,NaN,NaN
6,910GBHILLPK,Bush Hill Park,5,NaN,True,910GBHILLPK-Outside,True,2.0,False,NaN,NaN,NaN,NaN,NaN
7,910GBICKLEY,Bickley,5,NaN,False,910GBICKLEY-Outside,False,NaN,False,NaN,NaN,NaN,NaN,NaN
8,910GBNHAM,Burnham,Outside,NaN,False,910GBNHAM-Outside,False,NaN,False,NaN,NaN,NaN,NaN,NaN
9,910GBRBY,Brondesbury,2,NaN,True,910GBRBY-Outside,False,NaN,False,NaN,NaN,NaN,NaN,NaN

In [4]:
print(f"The dataset contains {df_Stations.shape[0]} rows and {df_Stations.shape[1]} columns.")

The dataset contains 509 rows and 14 columns.

In [5]:
#checking which rows have missing values
print("Missing values in each column:")
print(df_Stations.isnull().sum())

Missing values in each column:
UniqueId                        0
Name                            0
FareZones                       0
HubNaptanCode                 408
Wifi                            0
OutsideStationUniqueId          0
BlueBadgeCarParking             0
BlueBadgeCarParkSpaces        463
TaxiRanksOutsideStation         0
MainBusInterchange            488
PierInterchange               498
NationalRailInterchange       454
AirportInterchange            505
EmiratesAirLineInterchange    507
dtype: int64

### StationPoints.csv
Information on specific points at stations

In [ ]:

df_StationPoints = pd.read_csv("StationPoints.csv")   

#First 10 rows of the csv
df_StationPoints.head(10)

,UniqueId,StationUniqueId,AreaName,AreaId,Level,Lat,Lon,FriendlyName
0,910GACTNCTL-1001002-AC-3,910GACTNCTL,AC,3,0,51.50862,-0.26351,AC
1,910GACTNCTL-1001002-Bus-1,910GACTNCTL,Bus,1,0,51.50651,-0.26372,Bus
2,910GACTNCTL-1001002-ENTR-7,910GACTNCTL,ENTR,7,0,51.50892,-0.26260,ENTR
3,910GACTNCTL-1001002-RLY-4,910GACTNCTL,RLY,4,1,51.50865,-0.26293,RLY
4,910GACTNCTL-1001002-RPL-2,910GACTNCTL,RPL,2,1,51.50865,-0.26306,RPL
5,910GACTNCTL-1001002-RPL-5,910GACTNCTL,RPL,5,1,51.50865,-0.26271,RPL
6,910GACTNCTL-1001002-Sub-6,910GACTNCTL,Sub,6,-1,51.50856,-0.26325,Sub
7,910GACTONML-1001003-AC-B-3,910GACTONML,AC-B,3,0,51.51732,-0.26669,AC-B
8,910GACTONML-1001003-AC-S-6,910GACTONML,AC-S,6,0,51.51680,-0.26736,AC-S
9,910GACTONML-1001003-Bus-1,910GACTONML,Bus,1,0,51.51772,-0.26612,Bus

In [8]:
print(f"The dataset contains {df_StationPoints.shape[0]} rows and {df_StationPoints.shape[1]} columns.")

The dataset contains 4050 rows and 8 columns.

### Toilets.csv 
Exploration and creating a new csv to merge with data for final project

In [9]:
df_Toilets = pd.read_csv("Toilets.csv")   

#First 10 rows of the csv
df_Toilets.head(10)

,StationUniqueId,Id,IsAccessible,HasBabyChanging,IsInsideGateLine,Location,IsFeeCharged,Type,IsManagedByTfL
0,910GACTONML,1,TRUE,False,True,Located in ticket hall,False,Unisex,True
1,910GBHILLPK,1,FALSE,False,True,NaN,False,Male,True
2,910GBHILLPK,2,FALSE,False,True,NaN,False,Female,True
3,910GBHILLPK,3,TRUE,True,True,NaN,False,Unisex,True
4,910GBNHAM,1,FALSE,False,True,Located on platform 2,False,Male,True
5,910GBNHAM,2,FALSE,False,True,Located on platform 2,False,Female,True
6,910GBNHAM,3,TRUE,True,True,Located on platform 2,False,Unisex,True
7,910GBRTWOOD,1,FALSE,False,True,"Located on platforms 2,3,4",False,Male,True
8,910GBRTWOOD,2,FALSE,True,True,"Located on platforms 2,3,4",False,Female,True
9,910GBRTWOOD,3,TRUE,False,True,"Located on platforms 2,3,4",False,Unisex,True

In [79]:
Toilets = df_Toilets[["StationUniqueId", "IsAccessible", "Type"]]

print(Toilets)

    StationUniqueId IsAccessible    Type
0       910GACTONML         TRUE  Unisex
1       910GBHILLPK        FALSE    Male
2       910GBHILLPK        FALSE  Female
3       910GBHILLPK         TRUE  Unisex
4         910GBNHAM        FALSE    Male
..              ...          ...     ...
392          HUBZFD         TRUE  Unisex
393          HUBZWL         TRUE  Unisex
394    940GZZNEUGST         TRUE  Unisex
395    940GZZBPSUST         TRUE  Unisex
396       910GBKRVS         TRUE  Unisex

[397 rows x 3 columns]

In [107]:
#Count the number of toilets at each station in list

Toilet_dict_count = {}

for naptan in Toilets["StationUniqueId"]:
    if naptan not in Toilet_dict_count:
        Toilet_dict_count[naptan] = 1
    else:
        Toilet_dict_count[naptan] = Toilet_dict_count[naptan] + 1


print(f"This dictionary contains the number of toilets at {len(Toilet_dict_count)} stations.")
print(Toilet_dict_count)

This dictionary contains the number of toilets at 173 stations.
{'910GACTONML': 1, '910GBHILLPK': 3, '910GBNHAM': 3, '910GBRTWOOD': 3, '910GCHDWLHT': 1, '910GCHESHNT': 3, '910GCHINGFD': 3, '910GDALS': 1, '910GDENMRKH': 1, '910GENFLDTN': 3, '910GFRSTGT': 1, '910GGIDEAPK': 3, '910GGODMAYS': 1, '910GGOSPLOK': 3, '910GHAGGERS': 1, '910GHANWELL': 1, '910GHAYESAH': 3, '910GHOXTON': 1, '910GHRLDWOD': 3, '910GILFORD': 3, '910GIVER': 1, '910GLANGLEY': 3, '910GMANRPK': 1, '910GMRYLAND': 1, '910GMDNHEAD': 3, '910GPENEW': 3, '910GRDNGSTN': 3, '910GROMFORD': 3, '910GSHENFLD': 3, '910GSHRDHST': 1, '910GSLOUGH': 3, '910GSTHALL': 3, '910GSVNKNGS': 1, '910GTAPLOW': 3, '910GTWYFORD': 3, '910GWDRYTON': 3, '910GWEALING': 1, '910GWHMDSTD': 3, '940GZZDLSIT': 3, '940GZZLUACT': 3, '940GZZLUALP': 2, '940GZZLUBEC': 2, '940GZZLUBKE': 2, '940GZZLUBKH': 2, '940GZZLUBOS': 2, '940GZZLUBSC': 2, '940GZZLUBST': 2, '940GZZLUCKS': 2, '940GZZLUCPK': 3, '940GZZLUCSM': 2, '940GZZLUCWL': 2, '940GZZLUCXY': 2, '940GZZLUDBN': 2, '940GZZLUDGE': 2, '940GZZLUDGY': 3, '940GZZLUDOH': 3, '940GZZLUECM': 2, '940GZZLUEPG': 3, '940GZZLUEPK': 3, '940GZZLUFLP': 2, '940GZZLUFYC': 1, '940GZZLUFYR': 2, '940GZZLUGGH': 2, '940GZZLUGPK': 2, '940GZZLUHBT': 3, '940GZZLUHCH': 2, '940GZZLUHCL': 1, '940GZZLUHGD': 3, '940GZZLUHGR': 2, '940GZZLUHLT': 1, '940GZZLUHWC': 2, '940GZZLUHWE': 1, '940GZZLUKBN': 3, '940GZZLUKBY': 3, '940GZZLULGN': 2, '940GZZLULYN': 2, '940GZZLULYS': 2, '940GZZLUMPK': 2, '940GZZLUNBP': 2, '940GZZLUNEN': 2, '940GZZLUNFD': 2, '940GZZLUNHA': 2, '940GZZLUNHT': 2, '940GZZLUNKP': 2, '940GZZLUNOW': 2, '940GZZLUNWH': 2, '940GZZLUOAK': 2, '940GZZLUOSY': 2, '940GZZLUPCC': 2, '940GZZLUPKR': 2, '940GZZLUPNR': 3, '940GZZLUPRD': 2, '940GZZLUPVL': 2, '940GZZLUQBY': 3, '940GZZLURBG': 2, '940GZZLURSG': 1, '940GZZLURSM': 2, '940GZZLURSP': 2, '940GZZLURVY': 2, '940GZZLUSFB': 2, '940GZZLUSJW': 3, '940GZZLUSNB': 2, '940GZZLUSTM': 3, '940GZZLUSUH': 2, '940GZZLUSUT': 2, '940GZZLUTAW': 2, '940GZZLUTHB': 2, '940GZZLUUPB': 2, '940GZZLUUPY': 2, '940GZZLUUXB': 3, '940GZZLUWAF': 2, '940GZZLUWCY': 2, '940GZZLUWFN': 2, '940GZZLUWHW': 3, '940GZZLUWIG': 2, '940GZZLUWLA': 1, '940GZZLUWOF': 2, '940GZZLUWOP': 2, '940GZZLUWTA': 2, '940GZZLUWYP': 3, 'HUBABW': 3, 'HUBAMR': 2, 'HUBBEK': 3, 'HUBBFR': 3, 'HUBBKG': 3, 'HUBCAW': 3, 'HUBCFO': 2, 'HUBCHX': 3, 'HUBCLJ': 3, 'HUBCLW': 2, 'HUBCST': 3, 'HUBCUS': 1, 'HUBCYP': 3, 'HUBEAL': 3, 'HUBELM': 1, 'HUBEUS': 3, 'HUBH13': 3, 'HUBHOH': 2, 'HUBHX4': 3, 'HUBHX5': 3, 'HUBKGX': 3, 'HUBKPA': 3, 'HUBKWG': 2, 'HUBLBG': 3, 'HUBLEW': 3, 'HUBLST': 3, 'HUBMJT': 1, 'HUBMYB': 3, 'HUBNWD': 3, 'HUBNWX': 3, 'HUBPAD': 3, 'HUBRIC': 2, 'HUBRMD': 3, 'HUBSRA': 4, 'HUBSRU': 1, 'HUBSVS': 2, 'HUBTCR': 1, 'HUBTOM': 3, 'HUBUPM': 3, 'HUBVIC': 6, 'HUBVXH': 2, 'HUBWAT': 3, 'HUBWFJ': 4, 'HUBWIJ': 3, 'HUBWIM': 3, 'HUBWMB': 3, 'HUBWRU': 2, 'HUBWSM': 2, 'HUBZFD': 4, 'HUBZWL': 1, '940GZZNEUGST': 1, '940GZZBPSUST': 1, '910GBKRVS': 1}

In [106]:
#create list of accessible toilets, making sure there are no duplicates

Toilet_list_access = []

for index, row in Toilets.iterrows():
    if row["IsAccessible"] == "TRUE" and row["StationUniqueId"] not in Toilet_list_access:
        Toilet_list_access.append(row["StationUniqueId"])


print(f"This is a list of {len(Toilet_list_access)} stations that contain accessible toilets.")
print(Toilet_list_access)

This is a list of 105 stations that contain accessible toilets.
['910GACTONML', '910GBHILLPK', '910GBNHAM', '910GBRTWOOD', '910GCHDWLHT', '910GCHESHNT', '910GCHINGFD', '910GDALS', '910GDENMRKH', '910GENFLDTN', '910GFRSTGT', '910GGIDEAPK', '910GGODMAYS', '910GGOSPLOK', '910GHAGGERS', '910GHANWELL', '910GHAYESAH', '910GHOXTON', '910GHRLDWOD', '910GILFORD', '910GIVER', '910GLANGLEY', '910GMANRPK', '910GMRYLAND', '910GMDNHEAD', '910GPENEW', '910GRDNGSTN', '910GROMFORD', '910GSHENFLD', '910GSHRDHST', '910GSLOUGH', '910GSTHALL', '910GSVNKNGS', '910GTAPLOW', '910GTWYFORD', '910GWDRYTON', '910GWEALING', '910GWHMDSTD', '940GZZDLSIT', '940GZZLUACT', '940GZZLUCPK', '940GZZLUDGY', '940GZZLUDOH', '940GZZLUEPG', '940GZZLUEPK', '940GZZLUFYC', '940GZZLUFYR', '940GZZLUHBT', '940GZZLUHCL', '940GZZLUHGD', '940GZZLUHLT', '940GZZLUHWE', '940GZZLUKBN', '940GZZLUKBY', '940GZZLUPNR', '940GZZLUQBY', '940GZZLURSG', '940GZZLUSJW', '940GZZLUSTM', '940GZZLUUXB', '940GZZLUWHW', '940GZZLUWIG', '940GZZLUWLA', '940GZZLUWYP', 'HUBBEK', 'HUBBFR', 'HUBBKG', 'HUBCAW', 'HUBCHX', 'HUBCLJ', 'HUBCST', 'HUBCUS', 'HUBCYP', 'HUBEAL', 'HUBEUS', 'HUBH13', 'HUBHX4', 'HUBHX5', 'HUBKGX', 'HUBKPA', 'HUBLBG', 'HUBLEW', 'HUBLST', 'HUBMJT', 'HUBMYB', 'HUBNWD', 'HUBNWX', 'HUBPAD', 'HUBRMD', 'HUBSRA', 'HUBSRU', 'HUBTCR', 'HUBTOM', 'HUBUPM', 'HUBVIC', 'HUBWAT', 'HUBWFJ', 'HUBWIJ', 'HUBWIM', 'HUBWMB', 'HUBZFD', 'HUBZWL', '940GZZNEUGST', '940GZZBPSUST', '910GBKRVS']

In [116]:
#create dataframe from these
df_Toilet_count = pd.DataFrame.from_dict(Toilet_dict_count, orient='index')

df_Toilet_count = df_Toilet_count.reset_index()

df_Toilet_count

            index  0
0     910GACTONML  1
1     910GBHILLPK  3
2       910GBNHAM  3
3     910GBRTWOOD  3
4     910GCHDWLHT  1
..            ... ..
168        HUBZFD  4
169        HUBZWL  1
170  940GZZNEUGST  1
171  940GZZBPSUST  1
172     910GBKRVS  1

[173 rows x 2 columns]

In [156]:
df_Toilet_count["HasAccessible"] = df_Toilet_count["index"].isin(Toilet_list_access)

df_Toilet_count

            index  0  HasAccessible
0     910GACTONML  1           True
1     910GBHILLPK  3           True
2       910GBNHAM  3           True
3     910GBRTWOOD  3           True
4     910GCHDWLHT  1           True
..            ... ..            ...
168        HUBZFD  4           True
169        HUBZWL  1           True
170  940GZZNEUGST  1           True
171  940GZZBPSUST  1           True
172     910GBKRVS  1           True

[173 rows x 3 columns]

In [157]:
#checking that not all values are true
access_check = []

for x in df_Toilet_count["HasAccessible"]:
    access_check.append(x)

print(access_check)

[True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False, False, False, False, False, False, False, False, True, False, False, False, False, False, True, True, False, True, True, False, True, True, False, False, True, False, True, True, False, True, False, True, True, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, False, False, True, False, True, False, False, False, False, True, False, True, False, False, False, False, False, False, True, False, False, False, True, True, True, False, False, False, True, False, False, True, True, True, True, False, True, True, False, True, True, True, True, False, True, True, False, True, True, True, True, False, True, True, True, True, True, True, True, True, False, True, True, True, False, True, True, True, True, False, True, True, True, True, True, False, False, True, True, True, True, True]

In [159]:
#checking for correct number of accessible toilets
access_check_true = []

for x in access_check:
    if x == True:
        access_check_true.append(x)

print(access_check_true)
print(len(access_check_true))

[True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True]
105

In [166]:
#rename columns
df_Toilet_count.rename(columns={'index': 'naptanId', 0: 'NumToilets', 'HasAccessible': 'HasAccessibleToilets'}, inplace=True)

df_Toilet_count

         naptanId  NumToilets  HasAccessibleToilets
0     910GACTONML           1                  True
1     910GBHILLPK           3                  True
2       910GBNHAM           3                  True
3     910GBRTWOOD           3                  True
4     910GCHDWLHT           1                  True
..            ...         ...                   ...
168        HUBZFD           4                  True
169        HUBZWL           1                  True
170  940GZZNEUGST           1                  True
171  940GZZBPSUST           1                  True
172     910GBKRVS           1                  True

[173 rows x 3 columns]

In [167]:
#Turning data to csv to use in Final Project file

df_Toilet_count.to_csv('CustomTfLToilet.csv', index=False)

In [215]:
#df_replaced = df_Toilet_count.replace({True: "Yes", False: "No"})
df_replaced = df_Toilet_count.loc[df_Toilet_count['HasAccessibleToilets'] == 'True', 'HasAccessibleToilets'] = 'Yes'

df_replaced

'Yes'

In [ ]:
print(df_Toilet_count["NumToilets"])

In [184]:
print(type(df_Toilet_count["NumToilets"][1]))

<class 'numpy.int64'>

In [190]:
print(df_Toilet_count["HasAccessibleToilets"][1] == True)

True

In [206]:
text_check = []

for index, row in df_Toilet_count.iterrows():
    if df_Toilet_count["HasAccessibleToilets"][index] == True:
        text_check.append(df_Toilet_count["naptanId"][index])

print(len(text_check))

105

In [ ]:

for index, row in Toilets.iterrows():
    print(row["StationUniqueId"], row["IsAccessible"])

910GACTONML TRUE
910GBHILLPK FALSE
910GBHILLPK FALSE
910GBHILLPK TRUE
910GBNHAM FALSE
910GBNHAM FALSE
910GBNHAM TRUE
910GBRTWOOD FALSE
910GBRTWOOD FALSE
910GBRTWOOD TRUE
910GCHDWLHT TRUE
910GCHESHNT FALSE
910GCHESHNT FALSE
910GCHESHNT TRUE
910GCHINGFD FALSE
910GCHINGFD FALSE
910GCHINGFD TRUE
910GDALS TRUE
910GDENMRKH TRUE
910GENFLDTN FALSE
910GENFLDTN FALSE
910GENFLDTN TRUE
910GFRSTGT TRUE
910GGIDEAPK FALSE
910GGIDEAPK FALSE
910GGIDEAPK TRUE
910GGODMAYS TRUE
910GGOSPLOK FALSE
910GGOSPLOK FALSE
910GGOSPLOK TRUE
910GHAGGERS TRUE
910GHANWELL TRUE
910GHAYESAH TRUE
910GHAYESAH FALSE
910GHAYESAH FALSE
910GHOXTON TRUE
910GHRLDWOD FALSE
910GHRLDWOD FALSE
910GHRLDWOD TRUE
910GILFORD FALSE
910GILFORD FALSE
910GILFORD TRUE
910GIVER TRUE
910GLANGLEY FALSE
910GLANGLEY FALSE
910GLANGLEY TRUE
910GMANRPK TRUE
910GMRYLAND TRUE
910GMDNHEAD FALSE
910GMDNHEAD FALSE
910GMDNHEAD TRUE
910GPENEW FALSE
910GPENEW FALSE
910GPENEW TRUE
910GRDNGSTN FALSE
910GRDNGSTN FALSE
910GRDNGSTN TRUE
910GROMFORD FALSE
910GROMFORD FALSE
910GROMFORD TRUE
910GSHENFLD FALSE
910GSHENFLD FALSE
910GSHENFLD TRUE
910GSHRDHST TRUE
910GSLOUGH FALSE
910GSLOUGH FALSE
910GSLOUGH TRUE
910GSTHALL FALSE
910GSTHALL FALSE
910GSTHALL TRUE
910GSVNKNGS TRUE
910GTAPLOW FALSE
910GTAPLOW FALSE
910GTAPLOW TRUE
910GTWYFORD FALSE
910GTWYFORD FALSE
910GTWYFORD TRUE
910GWDRYTON FALSE
910GWDRYTON FALSE
910GWDRYTON TRUE
910GWEALING TRUE
910GWHMDSTD FALSE
910GWHMDSTD FALSE
910GWHMDSTD TRUE
940GZZDLSIT FALSE
940GZZDLSIT FALSE
940GZZDLSIT TRUE
940GZZLUACT FALSE
940GZZLUACT FALSE
940GZZLUACT TRUE
940GZZLUALP FALSE
940GZZLUALP FALSE
940GZZLUBEC FALSE
940GZZLUBEC FALSE
940GZZLUBKE FALSE
940GZZLUBKE FALSE
940GZZLUBKH FALSE
940GZZLUBKH FALSE
940GZZLUBOS FALSE
940GZZLUBOS FALSE
940GZZLUBSC FALSE
940GZZLUBSC FALSE
940GZZLUBST FALSE
940GZZLUBST FALSE
940GZZLUCKS FALSE
940GZZLUCKS FALSE
940GZZLUCPK FALSE
940GZZLUCPK FALSE
940GZZLUCPK TRUE
940GZZLUCSM FALSE
940GZZLUCSM FALSE
940GZZLUCWL FALSE
940GZZLUCWL FALSE
940GZZLUCXY FALSE
940GZZLUCXY FALSE
940GZZLUDBN FALSE
940GZZLUDBN FALSE
940GZZLUDGE FALSE
940GZZLUDGE FALSE
940GZZLUDGY FALSE
940GZZLUDGY FALSE
940GZZLUDGY TRUE
940GZZLUDOH FALSE
940GZZLUDOH FALSE
940GZZLUDOH TRUE
940GZZLUECM FALSE
940GZZLUECM FALSE
940GZZLUEPG FALSE
940GZZLUEPG FALSE
940GZZLUEPG TRUE
940GZZLUEPK FALSE
940GZZLUEPK FALSE
940GZZLUEPK TRUE
940GZZLUFLP FALSE
940GZZLUFLP FALSE
940GZZLUFYC TRUE
940GZZLUFYR TRUE
940GZZLUFYR TRUE
940GZZLUGGH FALSE
940GZZLUGGH FALSE
940GZZLUGPK FALSE
940GZZLUGPK FALSE
940GZZLUHBT FALSE
940GZZLUHBT FALSE
940GZZLUHBT TRUE
940GZZLUHCH FALSE
940GZZLUHCH FALSE
940GZZLUHCL TRUE
940GZZLUHGD FALSE
940GZZLUHGD FALSE
940GZZLUHGD TRUE
940GZZLUHGR FALSE
940GZZLUHGR FALSE
940GZZLUHLT TRUE
940GZZLUHWC FALSE
940GZZLUHWC FALSE
940GZZLUHWE TRUE
940GZZLUKBN FALSE
940GZZLUKBN FALSE
940GZZLUKBN TRUE
940GZZLUKBY FALSE
940GZZLUKBY FALSE
940GZZLUKBY TRUE
940GZZLULGN FALSE
940GZZLULGN FALSE
940GZZLULYN FALSE
940GZZLULYN FALSE
940GZZLULYS FALSE
940GZZLULYS FALSE
940GZZLUMPK FALSE
940GZZLUMPK FALSE
940GZZLUNBP FALSE
940GZZLUNBP FALSE
940GZZLUNEN FALSE
940GZZLUNEN FALSE
940GZZLUNFD FALSE
940GZZLUNFD FALSE
940GZZLUNHA FALSE
940GZZLUNHA FALSE
940GZZLUNHT FALSE
940GZZLUNHT FALSE
940GZZLUNKP FALSE
940GZZLUNKP FALSE
940GZZLUNOW FALSE
940GZZLUNOW FALSE
940GZZLUNWH FALSE
940GZZLUNWH FALSE
940GZZLUOAK FALSE
940GZZLUOAK FALSE
940GZZLUOSY FALSE
940GZZLUOSY FALSE
940GZZLUPCC FALSE
940GZZLUPCC FALSE
940GZZLUPKR FALSE
940GZZLUPKR FALSE
940GZZLUPNR FALSE
940GZZLUPNR FALSE
940GZZLUPNR TRUE
940GZZLUPRD FALSE
940GZZLUPRD FALSE
940GZZLUPVL FALSE
940GZZLUPVL FALSE
940GZZLUQBY FALSE
940GZZLUQBY FALSE
940GZZLUQBY TRUE
940GZZLURBG FALSE
940GZZLURBG FALSE
940GZZLURSG TRUE
940GZZLURSM FALSE
940GZZLURSM FALSE
940GZZLURSP FALSE
940GZZLURSP FALSE
940GZZLURVY FALSE
940GZZLURVY FALSE
940GZZLUSFB FALSE
940GZZLUSFB FALSE
940GZZLUSJW FALSE
940GZZLUSJW FALSE
940GZZLUSJW TRUE
940GZZLUSNB FALSE
940GZZLUSNB FALSE
940GZZLUSTM FALSE
940GZZLUSTM FALSE
940GZZLUSTM TRUE
940GZZLUSUH FALSE
940GZZLUSUH FALSE
940GZZLUSUT FALSE
940GZZLUSUT FALSE
940GZZLUTAW FALSE
940GZZLUTAW FALSE
940GZZLUTHB FALSE
940GZZLUTHB FALSE
940GZZLUUPB FALSE
940GZZLUUPB FALSE
940GZZLUUPY FALSE
940GZZLUUPY FALSE
940GZZLUUXB FALSE
940GZZLUUXB FALSE
940GZZLUUXB TRUE
940GZZLUWAF FALSE
940GZZLUWAF FALSE
940GZZLUWCY FALSE
940GZZLUWCY FALSE
940GZZLUWFN FALSE
940GZZLUWFN FALSE
940GZZLUWHW FALSE
940GZZLUWHW FALSE
940GZZLUWHW TRUE
940GZZLUWIG FALSE
940GZZLUWIG TRUE
940GZZLUWLA TRUE
940GZZLUWOF FALSE
940GZZLUWOF FALSE
940GZZLUWOP FALSE
940GZZLUWOP FALSE
940GZZLUWTA FALSE
940GZZLUWTA FALSE
940GZZLUWYP FALSE
940GZZLUWYP FALSE
940GZZLUWYP TRUE
HUBABW FALSE
HUBABW FALSE
HUBABW     TRUE
HUBAMR FALSE
HUBAMR FALSE
HUBBEK FALSE
HUBBEK FALSE
HUBBEK TRUE
HUBBFR FALSE
HUBBFR FALSE
HUBBFR TRUE
HUBBKG FALSE
HUBBKG FALSE
HUBBKG TRUE
HUBCAW FALSE
HUBCAW FALSE
HUBCAW TRUE
HUBCFO FALSE
HUBCFO FALSE
HUBCHX FALSE
HUBCHX FALSE
HUBCHX TRUE
HUBCLJ FALSE
HUBCLJ FALSE
HUBCLJ TRUE
HUBCLW FALSE
HUBCLW FALSE
HUBCST FALSE
HUBCST FALSE
HUBCST TRUE
HUBCUS TRUE
HUBCYP FALSE
HUBCYP FALSE
HUBCYP TRUE
HUBEAL FALSE
HUBEAL FALSE
HUBEAL TRUE
HUBELM FALSE
HUBEUS FALSE
HUBEUS FALSE
HUBEUS TRUE
HUBH13 FALSE
HUBH13 FALSE
HUBH13 TRUE
HUBHOH FALSE
HUBHOH FALSE
HUBHX4 FALSE
HUBHX4 FALSE
HUBHX4 TRUE
HUBHX5 FALSE
HUBHX5 FALSE
HUBHX5 TRUE
HUBKGX FALSE
HUBKGX FALSE
HUBKGX TRUE
HUBKPA FALSE
HUBKPA FALSE
HUBKPA TRUE
HUBKWG FALSE
HUBKWG FALSE
HUBLBG FALSE
HUBLBG FALSE
HUBLBG TRUE
HUBLEW FALSE
HUBLEW FALSE
HUBLEW TRUE
HUBLST FALSE
HUBLST FALSE
HUBLST TRUE
HUBMJT TRUE
HUBMYB FALSE
HUBMYB FALSE
HUBMYB TRUE
HUBNWD FALSE
HUBNWD FALSE
HUBNWD TRUE
HUBNWX FALSE
HUBNWX FALSE
HUBNWX TRUE
HUBPAD FALSE
HUBPAD FALSE
HUBPAD TRUE
HUBRIC FALSE
HUBRIC FALSE
HUBRMD FALSE
HUBRMD FALSE
HUBRMD TRUE
HUBSRA FALSE
HUBSRA FALSE
HUBSRA TRUE
HUBSRA TRUE
HUBSRU TRUE
HUBSVS FALSE
HUBSVS FALSE
HUBTCR TRUE
HUBTOM FALSE
HUBTOM FALSE
HUBTOM TRUE
HUBUPM FALSE
HUBUPM FALSE
HUBUPM TRUE
HUBVIC FALSE
HUBVIC FALSE
HUBVIC TRUE
HUBVIC FALSE
HUBVIC FALSE
HUBVIC TRUE
HUBVXH FALSE
HUBVXH FALSE
HUBWAT FALSE
HUBWAT FALSE
HUBWAT TRUE
HUBWFJ FALSE
HUBWFJ FALSE
HUBWFJ FALSE
HUBWFJ TRUE
HUBWIJ FALSE
HUBWIJ FALSE
HUBWIJ TRUE
HUBWIM FALSE
HUBWIM FALSE
HUBWIM TRUE
HUBWMB FALSE
HUBWMB FALSE
HUBWMB TRUE
HUBWRU FALSE
HUBWRU FALSE
HUBWSM FALSE
HUBWSM FALSE
HUBZFD TRUE
HUBZFD FALSE
HUBZFD FALSE
HUBZFD TRUE
HUBZWL TRUE
940GZZNEUGST TRUE
940GZZBPSUST TRUE
910GBKRVS TRUE

In [10]:
print("Missing values in each column:")
print(df_Toilets.isnull().sum())

Missing values in each column:
StationUniqueId      0
Id                   0
IsAccessible         0
HasBabyChanging      0
IsInsideGateLine     0
Location            46
IsFeeCharged         0
Type                 0
IsManagedByTfL       0
dtype: int64

In [14]:
print(f"The dataset contains {df_Toilets.shape[0]} rows and {df_Toilets.shape[1]} columns.")

The dataset contains 397 rows and 9 columns.

In [13]:
print(df_Toilets.loc[:, "Location"])

0                      Located in ticket hall
1                                         NaN
2                                         NaN
3                                         NaN
4                       Located on platform 2
                        ...
392    Located in Cowcross Street ticket hall
393                                       NaN
394                    Located in ticket hall
395                    Located in ticket hall
396                                       NaN
Name: Location, Length: 397, dtype: object

In [76]:
#Get list of unique locations and how many there are

UniqueLocations = []

for i in df_Toilets.loc[:, "Location"]:
    if str(i) not in UniqueLocations:
        UniqueLocations.append(str(i))



print(f'There are {len(df_Toilets.loc[:, "Location"])} toilets at TfL stations.')
print(f"There are {len(UniqueLocations)} unique locations for toilets at TfL stations.")
print("These locations are:" "\n" + '\n'.join(UniqueLocations))

There are 397 toilets at TfL stations.
There are 42 unique locations for toilets at TfL stations.
These locations are:
Located in ticket hall
nan
Located on platform 2
Located on platforms 2,3,4
Located behind ticket office
Located on platforms 3 & 4
Located on platform 3
Located on platform 4
Located outside station entrance
Located on platforms 1 & 5
Located on Footbridge
Located in National Rail station
Located on platform 1
Located in corridor to platform 5
Located in Metropolitan line ticket hall
Located on platforms 1 & 2
Located on platform
Located in subway
Located on platform 2/3
Located on platform 1/2
Located in walkway, inside gateline
Located in Brighton Yard ticket hall
Changing Places available
Located in National Rail station. Baby changing is standalone area
Located at street level
Located at street level. Baby changing is standalone area
Located in airport
Located on lower concourse
Located in King's Cross National Rail station
Located in King's Cross National Rail station. Changing Places and standalone baby changing area available.
Located in Eastbound ticket hall
Located on platform C
Located in National Rail station. Baby changing is standalone area and Changing Places toilet available.
Located in Southern ticket hall, paid side
Located in Southern ticket hall, paid side. Baby changing standalone area
Adjacent to DLR platform 16.
Located on National Rail platform 2
Located in North ticket hall
Located in bus station
Located in waiting area on platform 6
Located on National Rail platform 4
Located in Cowcross Street ticket hall

In [ ]:
#Can you make it only include certain words, so located on platform, then do the filtering to unique locations that way.
#Or exclude ints and nan. Then make a graph?

In [42]:
#find out if all toilets are managed by TfL using list and Boolean

IsTfl = []

for i in df_Toilets.loc[:, "IsManagedByTfL"]:
    IsTfl.append(i)

if False in IsTfl:
    print("Not all toilets at TfL stations are managed by TfL.")
else:
    print("All toilets at TfL stations are managed by TfL.")

Not all toilets at TfL stations are managed by TfL.

### Step free interchange csv

In [77]:

df_sfii = pd.read_csv("StepFreeIntechangeInfo.csv")   

#First 10 rows of the csv
df_sfii.head(10)

,FromPlatformUniqueId,ToPlatformUniqueId,DistanceInMetres
0,910GACTNCTL-Plat01-WB-london-overground,910GACTNCTL-Plat02-EB-london-overground,50
1,910GACTNCTL-Plat02-EB-london-overground,910GACTNCTL-Plat01-WB-london-overground,50
2,910GANERLEY-Plat01-NB-london-overground,910GANERLEY-Plat02-SB-london-overground,220
3,910GANERLEY-Plat02-SB-london-overground,910GANERLEY-Plat01-NB-london-overground,220
4,910GBHILLPK-Plat01-SB-london-overground,910GBHILLPK-Plat02-NB-london-overground,290
5,910GBHILLPK-Plat02-NB-london-overground,910GBHILLPK-Plat01-SB-london-overground,290
6,910GBROCKLY-Plat01-NB-london-overground,910GBROCKLY-Plat02-SB-london-overground,50
7,910GBROCKLY-Plat02-SB-london-overground,910GBROCKLY-Plat01-NB-london-overground,50
8,910GHGHMSPK-Plat01-SB-london-overground,910GHGHMSPK-Plat02-NB-london-overground,350
9,910GHGHMSPK-Plat02-NB-london-overground,910GHGHMSPK-Plat01-SB-london-overground,350